<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cooks List</title>
</head>
<body>
<h1>Cooks List</h1>

{% if cook_list %}
  <table>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Experience</th>
    </tr>
    {% for cook in cook_list %}
      <tr>
        <td>{{ cook.id }}</td>
        <td>{{ cook.username }}</td>
        <td>{{ cook.first_name }}</td>
        <td>{{ cook.last_name }}</td>
        <td>{{ cook.year_of_experience }}</td>
      </tr>
    {% endfor %}
  </table>
{% else %}
  <p>There are no cooks in the service.</p>
{% endif %}

</body>
</html>
