{% extends "base.html" %}

{% block page_description %}
  <h1 class="text-white font-weight-black pt-3 mt-n5">Dish detail</h1>
  <p class="lead text-white mt-3">On this page you can se detail description about dish</p>
{% endblock %}

{% block content %}
  <div class="ms-auto row">
    <div class="ms-auto text-start col">
      <h2>Dish: <strong>{{ dish.name }}</strong></h2>
    </div>
    <div class="text-end col">
      <a class="btn btn-dark"
         href="{% url 'kitchen:dish-update' pk=dish.id %}">Update</a>
    </div>
  </div>

<p><strong>Price:</strong> {{ dish.price }}</p>
<p><strong>Dish Type:</strong> {{ dish.dish_type }}</p>
<p><strong>Cooks:</strong></p>
  {% for cook in dish.cooks.all %}
    <li>{{ cook }}</li>
  {% empty %}
    <p>No cooks!</p>
  {% endfor %}
  <br>
<p><strong>Description:</strong> {{ dish.description }}</p>

<div>
  <h3>Ingredients:</h3>
  {% for ingredient in dish.ingredients.all %}
    <li>{{ ingredient}}</li>

  {% empty %}
    <p>No ingredients!</p>
  {% endfor %}
</div>
{% endblock %}
