{% extends "base.html" %}

{% block page_description %}
  <h1 class="text-white font-weight-black pt-3 mt-n5">Delete dish</h1>
{% endblock %}


{% block content %}
  <div class="ms-auto text-center">
    <h4>Are you sure you want to delete the dish <strong>{{ dish }}</strong>?</h4>
    <form method="post">
      <a class="btn btn-danger" href="{% url 'kitchen:dish-list' %}">Cancel</a>
      {% csrf_token %}
      <input class="btn btn-dark" type="submit" value="Yes, delete">
    </form>
  </div>
{% endblock %}
