{% extends "base.html" %}

{% block content %}
    <section class="pt-3 pb-4" id="count-stats">
        <div class="row">
          <div class="col-lg-9 mx-auto py-3">
            <div class="row">
              <div class="col-md-4 position-relative">
                <div class="p-3 text-center">
                  <h1 class="text-gradient text-dark"><span id="state1" countTo={{ num_visits }}>0</span></h1>
                  <h5 class="mt-3">Time{{ num_visits|pluralize }}</h5>
                  <p class="text-sm font-weight-normal">You have visited this page </p>
                </div>
                <hr class="vertical dark">
              </div>
              <div class="col-md-4 position-relative">
                <div class="p-3 text-center">
                  <h1 class="text-gradient text-dark"> <span id="state2" countTo={{ num_cooks }}>0</span></h1>
                  <h5 class="mt-3">Cooks</h5>
                  <p class="text-sm font-weight-normal">On restaurant kitchen now </p>
                </div>
                <hr class="vertical dark">
              </div>
              <div class="col-md-4">
                <div class="p-3 text-center">
                  <h1 class="text-gradient text-dark" id="state3" countTo={{ num_dishes }}>0</h1>
                  <h5 class="mt-3">Dishes</h5>
                  <p class="text-sm font-weight-normal">On kitchen restaurant</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
{% endblock %}
